.catalog {
  margin-bottom: var(--section-margin-bottom);
}
.catalog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: var(--title-margin-bottom);
}
.catalog__head .title {
  margin-bottom: 0;
}
.catalog__qty {
  display: inline-block;
  font-size: 18px;
  color: var(--color-primary);
  margin-top: 7px;
  margin-left: 20px;
}
.catalog__tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-bottom: 40px;
}
.catalog__tab {
  --text-color: var(--color-text);
  --background-color: var(--color-gray);
  position: relative;
  padding: 12px 20px;
  border-radius: 27px;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.catalog__tab.active {
  pointer-events: none;
  --text-color: var(--color-primary);
  --background-color: rgb(230, 238, 255);
}
.catalog__tab.active::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--color-primary);
  border-radius: 27px;
}
@media (hover: hover) {
  .catalog__tab:hover {
    --text-color: var(--color-primary);
    --background-color: rgb(230, 238, 255);
  }
  .catalog__tab:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--color-primary);
    border-radius: 27px;
  }
}
.catalog__tab-img {
  mix-blend-mode: multiply;
  width: 74px;
  height: auto;
}
.catalog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.catalog__filter {
  width: 280px;
  margin-right: 24px;
}
.catalog__filter-cell {
  padding: 28px;
  background-color: var(--color-gray);
  border-radius: 33px;
}
.catalog__filter-cell + .catalog__filter-cell {
  margin-top: 20px;
}
.catalog__field + .catalog__field {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(168, 177, 188);
}
.catalog__filter-cancel {
  display: none;
}
.catalog__title-inner {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.catalog__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 156px;
  overflow: hidden;
  overflow-y: auto;
}
.catalog__fieldset::-webkit-scrollbar-button {
  display: none !important;
}
.catalog__fieldset::-webkit-scrollbar {
  background-color: #d8dde3;
  width: 7px;
  border-radius: 4px;
}
.catalog__fieldset::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 4px;
}
.catalog__fieldset label {
  cursor: pointer;
}
.catalog__fieldset label:not(:last-child) {
  margin-bottom: 10px;
}
.catalog__fieldset input[type=checkbox],
.catalog input[type=radio] {
  position: relative;
  cursor: pointer;
  display: none;
}
.catalog__fieldset label p {
  position: relative;
  padding-left: 28px;
  font-size: 18px;
  line-height: 22px;
}
.catalog__fieldset input[type=checkbox] + p:before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 0.5px solid var(--color-primary);
  border-radius: 5px;
}
.catalog__fieldset input[type=radio]:checked + p:before, .catalog__fieldset input[type=checkbox]:checked + p:before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0;
  background-color: var(--color-primary);
}
.catalog__fieldset input[type=radio]:checked + p:before, .catalog__fieldset input[type=checkbox]:checked + p:before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url(../img/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border: 1px solid #0071dc;
}
.catalog__fieldset label p span {
  margin-left: 3px;
  color: rgb(168, 177, 188);
  font-size: 12px;
}
.catalog__main {
  width: calc(100% - 304px);
}
.catalog__head-inner {
  margin-bottom: 30px;
}
.catalog__filter-call {
  display: none;
}
.catalog__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.catalog__sort-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog__sort-item + .catalog__sort-item {
  margin-left: 40px;
}
.catalog__selected-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.catalog__selected-filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 24px;
}
.catalog__selected-filters-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 20px;
  border: 0.5px solid var(--color-primary);
  border-radius: 12px;
}
.catalog__selected-filters-item span {
  font-size: 14px;
  line-height: 1;
}
.catalog__selected-filters-item + .catalog__selected-filters-item {
  margin-left: 10px;
}
.catalog__selected-filters-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
}
.catalog__selected-filters-remove svg {
  width: 12px;
  height: 12px;
  fill: var(--color-primary);
}
.catalog__selected-filters-clear {
  font-size: 16px;
  text-decoration: underline;
}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 60px;
}
.catalog__cell-bottom {
  display: none;
}
.catalog__cell {
  position: relative;
  height: 500px;
  overflow: hidden;
  border-radius: 19px;
}
@media (min-width: 1025px) and (hover: hover) {
  .catalog__cell:hover {
    background-color: #fff;
    overflow: visible;
    margin: 0 -16px;
    padding: 0 16px;
    border-radius: 19px 19px 0 0;
  }
  .catalog__cell:hover .product__hero {
    border-radius: 19px 19px 0 0;
    background-color: #fff;
  }
  .catalog__cell:hover .catalog__cell-bottom {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 150px;
    background-color: #fff;
    border-radius: 0 0 19px 19px;
    padding: 0 16px;
  }
}
.catalog__cell .qty-counter {
  width: 185px;
  margin-right: 10px;
}
.catalog__cell .button {
  width: 76px;
}

.pagination {
  margin-bottom: var(--section-margin-bottom);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination__arrow {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0.7px solid rgb(30, 30, 30);
  border-radius: 11px;
  background-color: var(--color-gray);
}
.pagination__arrow svg {
  width: 10px;
  height: 10px;
}
.pagination__prev {
  margin-right: 10px;
}
.pagination__prev svg {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.pagination__next {
  margin-left: 10px;
}
.pagination__next svg {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination__item {
  position: relative;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0.7px solid rgb(30, 30, 30);
  border-radius: 11px;
  background-color: var(--color-gray);
}
.pagination__item > * {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination__item + .pagination__item {
  margin-left: 10px;
}
@media (hover: hover) {
  .pagination__arrow:hover {
    color: var(--color-primary);
    border: 0.7px solid var(--color-primary);
  }
  .pagination__item:hover {
    color: var(--color-primary);
    border: 0.7px solid var(--color-primary);
  }
}

.catalog__description {
  height: 330px;
  overflow: hidden;
}
.catalog__description.active {
  height: auto;
}
.catalog__description h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 20px;
}
.catalog__description h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 20px;
}
.catalog__description p {
  font-size: 16px;
}
.catalog__description p + p {
  margin-top: 20px;
}
.catalog__description p + h3 {
  margin-top: 20px;
}
.catalog__description-btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

@media (max-width: 1280px) {
  .catalog__tab {
    font-size: 16px;
  }
  .catalog__tab-img {
    width: 60px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .catalog__selected-filters-item {
    padding: 10px;
  }
  .catalog__selected-filters-item span {
    white-space: nowrap;
  }
  .catalog__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .catalog__cell {
    height: 470px;
  }
}
@media (max-width: 1024px) {
  .catalog__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 10px;
    overflow-y: auto;
  }
  .catalog__tabs::-webkit-scrollbar-button {
    display: none !important;
  }
  .catalog__tabs::-webkit-scrollbar {
    background-color: #d8dde3;
    width: 7px;
    height: 7px;
    border-radius: 4px;
  }
  .catalog__tabs::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
  }
  .catalog__tab {
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) and (hover: hover) {
  .catalog__tab:hover::after {
    border-radius: 12px;
  }
}
@media (max-width: 1024px) {
  .catalog__tab.active::after {
    border-radius: 12px;
  }
}
@media (max-width: 1024px) {
  .catalog__tab-img {
    display: none;
  }
}
@media (max-width: 1024px) {
  .catalog__tab-name {
    font-weight: 600;
    white-space: nowrap;
  }
}
@media (max-width: 1024px) {
  .catalog__head-inner {
    display: none;
  }
}
@media (max-width: 1024px) {
  .catalog__filter-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }
  .catalog__filter-call svg {
    fill: #fff;
  }
}
@media (max-width: 1024px) {
  .catalog__filter {
    width: 100%;
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 9999;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@media (max-width: 1024px) {
  .catalog__filter.active {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@media (max-width: 1024px) {
  .catalog__filter-cancel {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .catalog__filter-cancel svg {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 1024px) {
  .catalog__filter::-webkit-scrollbar-button {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .catalog__filter::-webkit-scrollbar {
    background-color: #d8dde3;
    width: 7px;
    height: 7px;
    border-radius: 4px;
  }
}
@media (max-width: 1024px) {
  .catalog__filter::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
  }
}
@media (max-width: 1024px) {
  .catalog__filter-cell {
    background-color: #fff;
    border-radius: 0;
  }
}
@media (max-width: 1024px) {
  .catalog__filter-cell + .catalog__filter-cell {
    margin-top: 10px;
  }
}
@media (max-width: 1024px) {
  .catalog__main {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .catalog__grid {
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .catalog__cell {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .catalog__cell .product__name {
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .catalog__cell-bottom {
    display: block;
    position: static;
    border-radius: 0 0 19px 19px;
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .catalog__cell .qty-counter__input {
    height: 46px;
  }
}
@media (max-width: 1024px) {
  .catalog__cell .card__price-total {
    font-size: 20px;
  }
  .catalog__cell .card__price-total span {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .catalog .card__price-block ::before {
    left: 44%;
  }
}
@media (max-width: 480px) {
  .catalog__qty {
    display: none;
  }
  .catalog .card__price {
    font-size: 18px;
  }
  .catalog .card__price-text {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .catalog__grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .catalog .card__price {
    font-size: 24px;
  }
  .catalog .card__price-text {
    font-size: 16px;
  }
}