.card {
  margin-bottom: var(--section-margin-bottom);
  &__content {
    display: flex;
    align-items: flex-start;
  }
  &__hero {
    position: sticky;
    top: 0px;
    width: 70%;
    margin-right: 80px;
  }
  &__main {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  &__sliders {
    width: 560px;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 41px;
    padding: 24px;
    margin-right: 40px;
  }
  &__pagination-thumb {
    position: relative;
    min-width: 90px;
    padding: 20px 0;
    .swiper-button-prev {
      top: 0%;
      left: 50%;
      right: unset;
      transform: translateX(-50%) rotate(90deg);
      &::after {
        font-size: 18px;
        font-weight: 700;
      }
    }
    .swiper-button-next {
      top: 100%;
      left: 50%;
      right: unset;
      transform: translateX(-50%) rotate(90deg);
      &::after {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &__pagination-slider {
    max-height: 337px;
    .swiper-slide img {
      display: block;
      width: auto;
      height: 79px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__main-slider {
    max-width: 377px;
    .swiper-slide img {
      display: block;
      width: auto;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__main-slider .swiper-pagination {
    display: none;
  }
  &__specs {
    padding: 20px 20px 20px 0;
  }
  &__title-inner {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__specs-list {
    margin-bottom: 20px;
  }
  &__specs-item {
    font-size: 16px;
  }
  &__specs-item + &__specs-item {
    margin-top: 12px;
  }
  &__link {
    display: flex;
    align-items: center;
    color: var(--color-primary) !important;
    font-size: 18px;
    font-weight: 600;
    span {
      display: block;
      margin-right: 8px;
    }
    svg {
      width: 10px;
      height: 10px;
    }
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__frame {
    background-color: var(--color-gray);
    padding: 40px;
    border-radius: 33px;
    margin-bottom: 40px;
  }
  &__frame-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    span {
      color: var(--color-primary);
    }
  }
  &__frame-specs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__frame-spec {
    display: flex;
    align-items: flex-start;
  }
  &__frame-spec + &__frame-spec {
    margin-left: 30px;
  }
  &__frame-icon {
    min-width: 54px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: var(--color-primary);
    margin-right: 10px;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__frame-text {
    font-size: 18px;
  }
  &__tabs {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  &__tab {
    padding: 12px 30px;
    border: 1px solid var(--color-black);
    border-radius: 13px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    &.active {
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      pointer-events: none;
    }
    @media (hover: hover) {
      &:hover {
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
      }
    }
  }
  &__tab + &__tab {
    margin-left: 15px;
  }
  &__tab-text {
    display: none;
    font-size: 18px;
    a {
      color: var(--color-text) !important;
      text-decoration: underline;
    }
    @media (hover: hover) {
      a:hover {
        color: var(--color-primary) !important;
      }
    }
    &.active {
      display: block;
    }
  }
  &__info {
    width: 30%;
  }
  &__cell {
    padding: 32px;
    border-radius: 32px;
    background-color: var(--color-gray);
    .card__price-text {
      margin-bottom: 20px;
    }
    .card__price-check {
      width: 100%;
    }
  }
  &__cell + &__cell {
    margin-top: 24px;
  }
  &__price-block {
    position: relative;
    padding: 7px 24px;
    border: 1px solid var(--color-black);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
    ::before {
      content: '';
      width: 1px;
      height: 31px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-black);
    }
    .card__price-text {
      margin-bottom: 0;
    }
    @media (hover: hover) {
      &:hover {
        border: 1px solid var(--color-primary);
      }
      &:hover .card__price {
        color: var(--color-primary);
      }
      &:hover .card__price-text {
        color: var(--color-primary);
      }
      &:hover ::before {
        background-color: var(--color-primary);
      }
    }
    &.active {
      pointer-events: none;
      border: 1px solid var(--color-primary);
      ::before {
        background-color: var(--color-primary);
      }
      .card__price {
        color: var(--color-primary);
      }
      .card__price-text {
        color: var(--color-primary);
      }
    }
  }
  &__price-block + &__price-block {
    margin-top: 12px;
  }
  &__price {
    font-size: 30px;
    font-weight: 600;
  }
  &__price-text {
    font-size: 18px;
  }
  &__price-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    > * {
      width: calc(50% - 6px);
    }
  }
  &__price-total {
    border-top: 1.1px solid rgb(168, 177, 188);
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
    span {
      font-size: 30px;
      font-weight: 600;
      color: var(--color-primary);
    }
  }
  &__paymment {
    display: flex;
    align-items: flex-start;
    svg {
      width: 40px;
      min-width: 40px;
      height: 40px;
    }
    span {
      display: block;
      margin-left: 8px;
      font-size: 16px;
      strong {
        font-size: 18px;
        color: var(--color-primary);
        white-space: nowrap;
      }
    }
  }
  &__delivery {
    margin-bottom: 30px;
  }
  &__delivery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  &__delivery-item + &__delivery-item {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1.1px solid rgb(168, 177, 188);
  }
  &__delivery-text {
    display: flex;
    align-items: flex-start;
    svg {
      width: 24px;
      height: 24px;
      color: var(--color-primary);
    }
  }
  &__delivery-name {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    font-size: 16px;
    strong {
      color: var(--color-primary);
    }
  }
  &__delivery-value {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
  }
}
.recommend {
  margin-bottom: var(--section-margin-bottom);
}
@media (max-width: 1280px) {
  .card {
    &__hero {
      width: 65%;
      margin-right: 30px;
    }
    &__info {
      width: 35%;
    }
    &__sliders {
      width: 480px;
      margin-right: 20px;
    }
    &__title-inner {
      font-size: 20px;
    }
    &__price {
      font-size: 24px;
    }
    &__price-text {
      font-size: 16px;
    }
    & &__price-action {
      flex-direction: column;
      > * {
        width: 100%;
      }
      > * + * {
        margin-top: 12px;
      }
    }
    &__frame-icon {
      min-width: 48px;
      height: 48px;
    }
    &__frame-text {
      font-size: 16px;
    }
  }
}
@media (max-width: 1024px) {
  .card {
    &__content {
      flex-direction: column;
    }
    &__hero {
      position: static;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__info {
      width: 100%;
    }
    &-price-cell {
      margin-bottom: 40px;
    }
    & &__price-action {
      flex-direction: row;
      > * {
        width: calc(50% - 6px);
      }
      > * + * {
        margin-top: 0;
      }
    }
    .qty-counter__input {
      height: 46px;
    }
  }
}
@media (max-width: 768px) {
  .card {
    &__main {
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__sliders {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__specs {
      width: 100%;
      padding: 0;
    }
    &__price-total {
      font-size: 20px;
      span {
        font-size: 24px;
      }
    }
    &__frame {
      padding: 20px;
    }
    &__frame-title {
      font-size: 20px;
    }
    &__frame-specs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
    }
    &__frame-spec {
      width: calc(100% / 3 - 16px);
    }
    &__frame-spec + &__frame-spec {
      margin-left: 0;
    }
    &__cell {
      padding: 20px;
    }
    &-price-cell {
      margin-bottom: 20px;
    }
    &__tabs {
      margin-bottom: 20px;
    }
    &__tab {
      font-size: 16px;
      padding: 10px 20px;
      white-space: nowrap;
    }
    &__tab-text {
      font-size: 16px;
    }
  }
}
@media (max-width: 600px) {
  .card {
    &__sliders {
      padding: 0;
    }
    &__main-slider {
      padding-bottom: 20px;
      max-width: 100%;
    }
    &__main-slider .swiper-pagination {
      display: block;
    }
    &__pagination-thumb {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .card {
    &__tab {
      font-size: 14px;
      padding: 10px 12px;
    }
    &__frame-spec {
      width: 100%;
    }
    &__frame-specs {
      gap: 10px;
    }
  }
}
@media (max-width: 430px) {
  .card {
    &__tabs {
      padding-bottom: 10px;
      overflow-y: auto;
    }
    &__tabs::-webkit-scrollbar-button {
      display: none !important;
    }
    &__tabs::-webkit-scrollbar {
      background-color: #d8dde3;
      width: 7px;
      height: 7px;
      border-radius: 4px;
    }

    &__tabs::-webkit-scrollbar-thumb {
      background-color: var(--color-primary);
      border-radius: 4px;
    }
    &__tab {
      font-size: 14px;
      padding: 10px;
    }
  }
}
@media (max-width: 375px) {
  .card {
    & &__price-action {
      flex-direction: column;
      > * {
        width: 100%;
      }
      > * + * {
        margin-top: 12px;
      }
    }
  }
}
@media (max-width: 320px) {
  .card {
    &__price-block {
      ::before {
        left: 45%;
      }
    }
  }
}
