.cart {
  margin-bottom: var(--section-margin-bottom);
  &__head {
    display: flex;
    align-items: center;
    margin-bottom: var(--title-margin-bottom);

    .title {
      margin-bottom: 0;
    }
  }
  &__qty {
    display: inline-block;
    font-size: 18px;
    color: var(--color-primary);
    margin-top: 7px;
    margin-left: 20px;
  }
  &__content {
    display: flex;
    align-items: flex-start;
  }
  &__main {
    width: calc(100% - 440px);
    margin-right: 24px;
  }
  &__receipt {
    width: 440px;
  }
  &__cell {
    padding: 24px;
    border-radius: 24px;
    background-color: var(--color-gray);
    margin-bottom: 20px;
  }
  &__notice {
    display: flex;
    align-items: center;
    svg {
      width: 36px;
      height: 36px;
      margin-right: 16px;
    }
  }
  &__label {
    margin-top: 4px;
    font-size: 18px;
    span {
      color: var(--color-primary);
    }
  }

  &__list {
    max-height: 500px;
    margin-bottom: 36px;
    overflow-y: auto;
  }
  &__main &__list {
    max-height: unset;
  }
  &__list::-webkit-scrollbar-button {
    display: none !important;
  }
  &__list::-webkit-scrollbar {
    background-color: #d8dde3;
    width: 7px;
    height: 7px;
    border-radius: 4px;
  }

  &__list::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
  }
  &__product {
    padding: 24px;
    border-radius: 24px;
    background-color: var(--color-gray);
    display: flex;
    align-items: flex-start;
  }
  &__product + &__product {
    margin-top: 20px;
  }
  &__img {
    width: auto;
    height: 90px;
    object-fit: contain;
    margin-right: 16px;
  }
  &__product-info {
    flex: 1 1 auto;
    > div:first-child {
      margin-bottom: 10px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__action-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__name {
    max-width: 226px;
    display: block;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text) !important;
    @media (hover: hover) {
      &:hover {
        color: var(--color-primary) !important;
      }
    }
  }
  &__action {
    display: flex;
    align-items: center;
  }
  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &-popup,
  &__main {
    .qty-counter {
      margin-right: 15px;
    }
    .qty-counter__input {
      width: 70px;
      height: 43px;
    }
  }
  &__price-info {
    display: flex;
    align-items: center;
  }
  &__price-small {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
  }
  &__price-caption {
    display: flex;
    align-items: center;
    margin-left: 30px;
    svg {
      width: 18px;
      height: 18px;
    }
    span {
      display: block;
      margin-left: 8px;
      font-size: 18px;
    }
  }
  &__price {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
    margin-left: auto;
  }
  &__popup-total {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(168, 177, 188);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__total {
    margin-right: 16px;
  }
  &__total-price {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
  }
  &__form-box {
    padding: 24px;
    border-radius: 24px;
    background-color: var(--color-gray);
    margin-bottom: 20px;
  }
  &__form-delivery {
    margin-bottom: 0;
  }
  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  &__input-wrap {
    width: calc(100% / 3);
    position: relative;
    padding-bottom: 26px;
  }
  &__input {
    width: 100%;
    border: 1px solid rgb(193, 201, 212);
    border-radius: 15px;
    background: rgb(245, 249, 255);
    padding: 16px;
    font-size: 16px;
    & + span {
      display: none;
      position: absolute;
      bottom: 6px;
      left: 0;
    }
  }
  &__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgb(193, 201, 212);
    border-radius: 20px;
    background: rgb(245, 249, 255);
    padding: 24px 18px;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 20px;
  }
  &__form-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__form-file {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
    padding-left: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: var(--color-primary);
    & .msof-form-wrapper {
      width: 100%;
    }
  }
  &__form-file .msof-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    background: rgb(229, 238, 255);
    width: 100%;
  }
  &__form-box > input[type='radio'] {
    display: none;
  }

  &__delivery {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 20px;
    cursor: pointer;
  }
  &__form-box > input[type='radio']:checked + &__delivery {
    border: 1px solid var(--color-primary);
    background: rgb(229, 238, 255);
  }
  &__form-box > input[type='radio']:checked + &__delivery {
    color: var(--color-primary);
  }
  &__delivery-icon {
    margin-right: 40px;
    svg {
      width: 50px;
      height: 50px;
    }
  }
  &__delivery-textbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: auto;
  }
  &__delivery-name {
    font-size: 20px;
    font-weight: 600;
  }
  &__delivety-text {
    font-size: 18px;
    color: var(--color-text) !important;
  }
  &__delivery-price {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text) !important;
  }
  &__form-box > label:not(:last-child) {
    margin-bottom: 20px;
  }
  &__receipt {
    position: sticky;
    top: 10px;
    padding: 24px;
    border-radius: 24px;
    background-color: var(--color-gray);
  }
  &__title-inner {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(168, 177, 188);
  }
  &__info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info-row + &__info-row {
    margin-top: 20px;
  }
  &__info-row &__text {
    width: 70%;
  }
  &__info-row &__price-inner {
    width: 30%;
  }
  &__text {
    font-size: 18px;
    margin-right: 20px;
  }
  &__price-inner {
    font-size: 18px;
    color: var(--color-primary);
    text-align: right;
    white-space: nowrap;
  }
  &__receipt &__total {
    margin-bottom: 20px;
  }
  &__caption {
    margin-top: 10px;
    color: rgb(168, 177, 188);
    font-size: 18px;
    text-align: center;
  }
}
#msOrder .error + span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #ff484d;
}
#msOrder .error {
  border: 1px solid #ff484d;
}
@media (max-width: 1024px) {
  .cart {
    &__cell {
      padding: 16px;
      border-radius: 20px;
    }
    &__product {
      padding: 16px;
      border-radius: 20px;
    }
    &__img {
      width: 80px;
      height: auto;
    }
    &__name {
      font-size: 16px;
    }
  }
}
@media (max-width: 768px) {
  .cart-popup .qty-counter__input,
  .cart__main .qty-counter__input {
    width: 60px;
  }
  .cart {
    &__notice svg {
      min-width: 30px;
    }
    &__label {
      font-size: 16px;
      font-weight: 600;
      span {
        white-space: nowrap;
      }
    }
    &__price-small {
      white-space: nowrap;
      font-size: 16px;
    }
    &__price-caption {
      white-space: nowrap;
      margin-left: 16px;
      span {
        font-size: 16px;
      }
    }
    &__price {
      white-space: nowrap;
      font-size: 20px;
    }
  }
}
@media (max-width: 600px) {
  .cart {
    &__action-row {
      max-width: 260px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
    }
    &__product-info > div:first-child {
      margin-bottom: 16px;
    }
    &-popup .qty-counter,
    &__main .qty-counter {
      max-width: 146px;
      margin-right: auto;
      grid-column: 1/3;
    }
    &__price-small {
      font-size: 18px;
    }
  }
}
@media (max-width: 480px) {
  .cart {
    &__img {
      width: 60px;
      height: auto;
    }
    &__name {
      font-size: 15px;
    }
    &__total-price {
      white-space: nowrap;
      font-size: 24px;
    }
  }
}
@media (max-width: 430px) {
  .cart {
    &__product-info {
      position: relative;
    }
    &__action {
      position: absolute;
      top: 67px;
      right: 0;
    }
    &__img {
      width: 50px;
      height: auto;
    }
    &-popup .qty-counter,
    &__main .qty-counter {
      max-width: 140px;
    }
    &-popup .qty-counter__oper,
    &__main .qty-counter__oper {
      min-width: 36px;
    }
  }
}
@media (max-width: 375px) {
  .cart {
    &__product {
      min-width: 305px;
      overflow-y: auto;
    }
  }
}
