* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body,
html {
  height: 100%;
  min-height: 100%;
  font-family: ProximaNova, sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  line-height: 1.4;
  color: var(--color-text);
  background: var(--color-bg);
}
body.hidden {
  overflow: hidden;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.container {
  max-width: 1532px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.button {
  font-size: 18px;
  font-weight: 600;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 18px;
  svg {
    width: 24px;
    height: 24px;
  }
  span {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    color: #fff;
  }
  &.--small {
    height: 48px;
  }
  @media (hover: hover) {
    &:hover {
      opacity: 0.9;
    }
  }
}
.swiper-arrow {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: var(--color-primary);
  transform: translateY(50%);
  &::after {
    font-size: 13px;
    font-weight: 700;
  }
}
.swiper-button-prev::after {
  transform: translateX(-2px);
}
.swiper-button-next::after {
  transform: translateX(2px);
}
.swiper-pagination-bullet-active {
  background: var(--color-primary);
}
.title {
  font-size: var(--title-size);
  font-weight: 600;
  margin-bottom: var(--title-margin-bottom);
}
.breadcrumbs {
  margin-bottom: 20px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    @media (hover: hover) {
      a:hover {
        text-decoration: underline;
      }
    }
  }
  &__item + &__item {
    padding-left: 30px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 8px;
      width: 16px;
      height: 1px;
      background-color: rgb(61, 70, 77);
    }
  }
  &__text {
    color: var(--color-text) !important;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__action {
    display: flex;
    align-items: center;
    span {
      display: block;
      margin-right: 10px;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__action + &__action {
    margin-left: 36px;
  }
  &__copy,
  &__favorite {
    display: flex;
    align-items: center;
  }
  &__copy:active svg,
  &__favorite:active svg {
    opacity: 0.6;
  }
}
.range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &__item {
    width: calc(50% - 3px);
    position: relative;
    span {
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }
  }
  &__input {
    width: 100%;
    padding: 12px 16px 12px 36px;
    border: 0.5px solid rgb(30, 30, 30);
    border-radius: 12px;
    background-color: var(--color-gray);
    font-size: 16px;
  }
}
.sort {
  &__name {
    font-size: 18px;
    margin-right: 10px;
  }
  &__dropdown {
    position: relative;
  }
  &__selected {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      font-size: 18px;
      margin-right: 6px;
      color: var(--color-primary);
    }
    svg {
      width: 10px;
      height: 10px;
      fill: var(--color-primary);
      transform: rotate(90deg);
    }
  }
  &__list {
    min-width: 200px;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 99;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: 0.4s linear;
    opacity: 0;
    visibility: hidden;
    background: #ebefff;
  }
  &__dropdown.active &__list {
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
    box-shadow: 0 4px 24px 0 rgba(18, 42, 192, 0.06);
  }
  &__item {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &__item + &__item {
    padding-top: 0;
  }
}
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  &__body {
    width: 100%;
    max-width: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    margin: 16px;
    border-radius: 33px;
    padding: 20px 32px;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .title {
      margin-bottom: 0;
    }
  }
  &__cancel {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
